*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/.gitignore
app/build.gradle
app/proguard-rules.pro
app/src/main/gen/com/valyakinaleksey/amocrm/BuildConfig.java
app/src/main/gen/com/valyakinaleksey/amocrm/Manifest.java
app/src/main/gen/com/valyakinaleksey/amocrm/R.java
app/src/test/java/com/valyakinaleksey/amocrm/myapplication/ExampleUnitTest.java
build.gradle
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle
